body {
	background: #333;	
}

#container {
    position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#content {
	color: #fff;
	text-align: center;
}

h1, h2, h3, p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#images {
	display: flex;
    align-items: center;
    justify-content: center;
}

p.plus {
	font-size: 40px;
	margin: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 360px;
}

.buttonindex {
    background-color: #0F517A;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 360px;
}

.logo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 20px;
}


.header {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #222;
	color: #FFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
	text-align: center;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #222;
	color: #FFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
	text-align: center;
}